*{
    padding: 0;
    margin: 0;
}
.btn{
    padding: 10px 24px;
    background-color: #FF6E50;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
section{
    margin-bottom: 100px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    height: 500px;
}
.container{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discription{
    width: 50%;
}
.discription h1{
    width: 500px;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 30px;
}
.discription h1 span{
    color: #FFA500;
}
.discription h3{
    font-size: 18px;
    line-height: 2em;
}
.discription p{
    width: 500px;
    font-size: 16px;
    font-weight: 500;
    color: gray;
    line-height: 1.3rem;
    margin-bottom: 30px;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
}

/* Dream area  */
.Dream .discription{
    padding: 0 70px;
}

/* experience */
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 30px;
    background-size: 110px;
}
.experience .card{
    margin: 45px;
    padding: 40px;
    width: 50%;
    border-left: 7px solid #FF6E50;
    border-radius: 8px;
    box-shadow: 5px 5px 10px lightgray;
}
.card h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 2em;
}
.card h3{
    color: #FFA500;
    line-height: 2.2em;
}
.card p{
    font-size: 16px;
    color: gray;
}
.experience .baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

/* Footer  */
footer{
    margin-bottom: 20px;
    font-size: 13px;
    color: gray;
    text-align: center;
}